@page "/shared"

@inject StateContainer StateContainer
@using Database.Models
@inject NavigationManager NavManager
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment
@using WebApp.Pages.LoggedInViews.SharedParts

<h3>Shared With Me</h3>

<BlockTable blocks="blocks" user="StateContainer.user" url="@url" columnCount="3"/>

@code {
    List<Block> blocks;

    string url = "/shared";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var shares = Cmpg323Context.DB.Shareds.Where(s => s.User == StateContainer.user.Idusers).ToList();
        blocks = new List<Block>();
        foreach (var share in shares)
        {
            Image img = Cmpg323Context.DB.Images.Find(share.Image);
            Block b = new Block(img, Path.Combine("Data", img.User.ToString(), img.Name));
            blocks.Add(b);
        }
    }
}